Source: python-lib3mf
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 13), debhelper-compat (= 13)
Standards-Version: 4.7.0
Homepage: None

Package: python3-lib3mf
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
  lib3mf2,
Description: Implementation of the 3D Manufacturing Format file standard.
 It provides 3MF reading and writing capabilities, as well as conversion and validation tools for input and output data.
 .
 This library contains the Python bindings.

